node_modules/
dist/
*.local
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache
.parcel-cache
.temp
.docusaurus
.serverless/
.dynamodb/
.tern-port
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.nyc_output
coverage/
*.lcov
.sass-cache/